.grey{
    background-color:#EFEFEF;
    box-shadow: 10px 10px 5px #888888;
    font-family:Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

iframe {
  height: 300px;
  width: 500px;
  resize: both;
  overflow: auto;
}
