html{
    background-color:#41566E;
    padding:5px;
    margin:5px;
}

body{
    background-color:#f1f1f1;
}

.top{
    background-color:white;
    display:inline-block;
    width:100%;
}

#home_icon{
    display:block;
    float:left;
}

.login{
    display:block;
    float:right;
}

#login_fields{
    float:right;
}


#remember{
    margin-right:2px;
    margin-top:7px;
}

.nav{
    border: 1px solid black;
    border-width: 1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

.nav ul{
    
    padding:0;
    text-align:center;
}

.nav li {
    position:relative;
    display:inline;
    font-family: 'Oswald', sans-serif;
    font-size: 1.2em;
    line-height: 40px;
}

.nav a{
    display:inline-block;
    text-decoration:none;
    font-weight:bold;
    padding:10px;
    color:black;
}
    
a:hover{
    background-color: #f1f1f1;
    text-decoration:underline;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
}

/*
Shop
*/

#pay_button{
    text-align:center;
}

/*
Middle
*/
.middle{
    padding:30px;
    border: 1px solid;
}

.middle a{
    color:black;
    text-decoration:none;
}

.middle a:hover{
    background-color:#F1F1F1;
    text-decoration:none;
}